<mat-card class="dish-item" [ngStyle]="{border: '5px solid ' + getPriceColor()}">

    <mat-card-content class="dish-content" fxLayout="row">
        <div class="dish-img">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                 alt="{{dish.name}}">
        </div>
        <div class="dish-details" fxLayout="column" fxLayoutAlign="space-between">
            <div class="dish-header" fxLayout="row" fxLayoutAlign="space-between">
                <div class="dish-info">
                    <mat-card-title class="dish-name">
                        {{dish.name | uppercase}}
                    </mat-card-title>
                    <mat-card-subtitle class="dish-types">
                        {{dish.type}}, {{dish.cuisine | uppercase}} | {{dish.category.toString()}}
                    </mat-card-subtitle>
                </div>
                <div class="dish-options">
                    <button class="mat-elevation-z2" mat-icon-button [matMenuTriggerFor]="menu"
                            aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button class="dish-edit" mat-menu-item aria-label="Edit dish" (click)="editDish()">
                            <mat-icon svgIcon="pencil"></mat-icon>
                            <span>Edit dish</span>
                        </button>
                        <button class="dish-delete" mat-menu-item aria-label="Delete dish" (click)="deleteDish()">
                            <mat-icon svgIcon="delete"></mat-icon>
                            <span>Delete dish</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
            <div class="dish-rating">
                <app-dish-rate [dishMap]="dishMap"></app-dish-rate>
            </div>
            <div class="dish-footer" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="dish-price">
                    {{dish.price | currency:'USD'}}
                </div>
                <div class="dish-status" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
                    <div class="dish-inStock">
                        <div *ngIf="dish.inStock!=0; else ELSEinStock">
                            Available now:
                            <div [ngStyle]="{color: getCountColor()}">{{ dish.inStock - count }}</div>
                        </div>
                        <ng-template #ELSEinStock>
                            That dish is not available at this moment.
                        </ng-template>
                    </div>
                    <div *ngIf="dish.inStock!=0" class="dish-action">
                        <button [disabled]="this.count == dish.inStock" class="dish-order-add mat-elevation-z2"
                                mat-icon-button
                                aria-label="Add to basket" (click)="addOrder()">
                            <mat-icon svgIcon="plus"></mat-icon>
                        </button>
                        <button class="dish-order-remove mat-elevation-z2" mat-icon-button
                                aria-label="Remove from basket"
                                (click)="removeOrder()">
                            <mat-icon svgIcon="minus"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>

        </div>


    </mat-card-content>
</mat-card>
