.dish-item {
    border: 5px solid #9ff84c;
    height: 160px;
    width: 600px;
    padding: 0;
}

.dish-content {
    height: 100%;
    width: 100%;
}

.dish-img{
    height: 100%;
    width: 300px;
}

.dish-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dish-details {
    width: 100%;
    margin: 10px;
}

.dish-types {
    margin-bottom: 0;
}

.dish-footer {
    margin-bottom: 10px;
}

.dish-price {
    font-size: 1.8rem;
}

.dish-inStock {
    text-align: center;
}


.dish-action {
    width: 90px;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.dish-delete {
    color: #f54141;
}

.dish-order-add {
    color: #48e361;
}

.dish-order-remove {
    color: #f54141;
}
