<div class="content" fxLayout="column" fxLayoutGap="20px">

    <div class="front">
        <img class="front-img" src="assets/home/home-restaurant.jpg" alt="Restaurant presentation">
        <div class="front-welcome">
            <div class="title">Restaurant</div>
            <div class="subtitle">from 1974</div>
        </div>
    </div>


    <div class="about-us">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dicta, ea facilis magni numquam sit
            temporibus! Consequatur corporis deleniti dolor dolorem eos exercitationem facere harum id ipsam magni
            minima
            nam necessitatibus nesciunt nihil nostrum nulla numquam qui, quis, ratione sequi tempore vel velit veritatis
            voluptas voluptatibus! Ab amet dignissimos dolorem ea, in mollitia nesciunt perspiciatis quae saepe soluta?
            A ab
            aliquam animi aspernatur, at dicta dolore doloremque dolores doloribus eligendi eveniet, ex id in ipsum
            labore
            molestias nesciunt nisi nostrum obcaecati perferendis porro quo quos repellat repellendus reprehenderit
            sequi
            sunt unde veniam voluptas voluptate. Animi aperiam aut debitis delectus dolor eius ex ipsam labore
            laudantium
            libero maiores nam nobis non odio officia optio placeat quae, quibusdam reiciendis saepe? Accusantium ad
            alias
            ducimus iusto laboriosam soluta? Aspernatur magnam quasi ratione vel? Accusamus aliquid amet, aperiam
            asperiores
            atque cupiditate deleniti doloremque enim error minima non numquam odio officiis, praesentium quia, unde
            vel!
        </p>
        <ul>
            <li>Fresh food</li>
            <li>Years of experience</li>
            <li>Best quality of dishes</li>
        </ul>
    </div>

    <div class="location">
        <h2>Location</h2>
        <div class="map" style="width: 100%">
            <!--suppress HtmlDeprecatedAttribute -->
<!--            <iframe scrolling="no" marginheight="0" marginwidth="0"-->
<!--                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Palm%20Jumeirah%20-%20The%20Palm%20Jumeirah%20-%20Dubai%20-%20United%20Arab%20Emirates+(Restaurant)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"-->
<!--                    width="100%" height="600" frameborder="0"><a href="https://www.gps.ie/sport-gps/">fitness-->
<!--                tracker</a></iframe>-->
        </div>
    </div>

    <div class="contact">
        <h2>Contact</h2>
        <div class="contact-wrapper" fxLayout="column">
            <div fxLayoutGap="15px" fxLayoutAlign="start center">
                <mat-icon svgIcon="phone"></mat-icon> <span>123-456-789</span>
            </div>
            <div fxLayoutGap="15px" fxLayoutAlign="start center">
                <mat-icon svgIcon="email"></mat-icon> <span>contact@restaurant.com</span>
            </div>
        </div>
    </div>
</div>

