<div class="dialog">
    <h1 mat-dialog-title>Add new dish</h1>
    <div *ngIf="dishMap | async as dishMap; else loading">
        <form [formGroup]="formGroup" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
            <div class="dialog-content" mat-dialog-content fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px"
                 fxLayoutGap.lt-md="0">

                <div class="content-left" fxFlex="50%" fxLayout="row wrap" fxLayoutAlign="space-between"
                     fxLayout.lt-md="column">
                    <!-- Name -->
                    <mat-form-field class="dish-name" fxFlex="100%" fxFlex.lt-sm="100%" appearance="fill"
                                    [hideRequiredMarker]="true">
                        <mat-label>Name</mat-label>
                        <input type="text" id="name" name="name" formControlName="name" matInput>
                        <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                    </mat-form-field>

                    <!-- Type       -->
                    <mat-form-field class="dish-type" fxFlex="45%" fxFlex.lt-sm="100%" appearance="fill"
                                    [hideRequiredMarker]="true">
                        <mat-label>Type</mat-label>
                        <input type="text" id="type" name="type" formControlName="type" matInput
                               [matAutocomplete]="autoType">
                        <mat-error *ngIf="hasError('type', 'required')">Type is required</mat-error>
                        <mat-autocomplete #autoType="matAutocomplete">
                            <mat-option *ngFor="let option of filteredTypes | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <!-- Cuisine        -->
                    <mat-form-field class="dish-cuisine" fxFlex="45%" fxFlex.lt-sm="100%" appearance="fill"
                                    [hideRequiredMarker]="true">
                        <mat-label>Cuisine</mat-label>
                        <input type="text" name="cuisine" id="cuisine" formControlName="cuisine" matInput
                               [matAutocomplete]="autoCuisine">
                        <mat-error *ngIf="hasError('cuisine', 'required')">Cuisine is required</mat-error>
                        <mat-autocomplete #autoCuisine="matAutocomplete">
                            <mat-option *ngFor="let option of filteredCuisines | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <!-- Category        -->
                    <mat-form-field class="dish-category" fxFlex="100%" appearance="fill" [hideRequiredMarker]="true">
                        <mat-label>Category</mat-label>
                        <mat-select id="category" formControlName="category">
                            <mat-option *ngFor="let cat of categories" [value]="cat">{{cat}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('category', 'required')">Category is required</mat-error>
                    </mat-form-field>

                    <!-- In stock       -->
                    <mat-form-field class="dish-stock" fxFlex="100%" appearance="fill" [hideRequiredMarker]="true">
                        <mat-label>How many in stock</mat-label>
                        <input class="number-arrow-disable" type="number" min="0" step="1" id="stock" name="stock"
                               formControlName="stock" matInput>
                        <mat-error *ngIf="hasError('stock', 'required')">Number of dishes in stock is required
                        </mat-error>
                        <mat-error *ngIf="hasError('stock', 'min')">Positive number is required</mat-error>
                        <mat-error *ngIf="hasError('stock', 'pattern')">Integer number is required</mat-error>
                    </mat-form-field>


                    <!-- Price      -->
                    <mat-form-field class="dish-price" fxFlex="45%" appearance="fill" floatLabel="always"
                                    [hideRequiredMarker]="true">
                        <mat-label>Price</mat-label>
                        <input class="number-arrow-disable price-right-align" type="number" min="0" id="price"
                               name="price"
                               formControlName="price" matInput>
                        <span matPrefix>$&nbsp;</span>
<!--                        <span matSuffix>.00</span>-->
                        <mat-error *ngIf="hasError('price', 'required')">Price is required</mat-error>
                        <mat-error *ngIf="hasError('price', 'min')">Positive number is required</mat-error>
                    </mat-form-field>

                    <!-- Image        -->
                    <mat-form-field class="dish-image" fxFlex="45%" fxFlex.lt-sm="100%" appearance="fill"
                                    [hideRequiredMarker]="true">
                        <mat-label>Image link</mat-label>
                        <input type="text" id="image" name="image" formControlName="image" matInput>
                        <mat-error *ngIf="hasError('image', 'required')">Image link is required</mat-error>
                    </mat-form-field>

                </div>
                <div class="content-right" fxFlex="50%">
                    <!-- Ingredients    -->
                    <mat-form-field class="dish-ingredients" appearance="fill">
                        <mat-label>Ingredients</mat-label>
                        <mat-chip-list formControlName="ingredients" #ingredientList aria-label="Fruit selection">
                            <mat-chip *ngFor="let ingredient of ingredients" (removed)="removeIngredient(ingredient)">
                                {{ingredient}}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                            <input placeholder="Add ingredient..."
                                   [matChipInputFor]="ingredientList"
                                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                   (matChipInputTokenEnd)="addIngredient($event)">
                        </mat-chip-list>
                    </mat-form-field>

                    <!-- Description      -->
                    <mat-form-field class="dish-desc" appearance="fill" [hideRequiredMarker]="true">
                        <mat-label>Description</mat-label>
                        <textarea matInput name="description" formControlName="description"></textarea>
                        <mat-error *ngIf="hasError('description', 'required')">Description is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="dialog-actions" mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between">
                <button type="button" mat-raised-button color="warn" (click)="close()">Cancel</button>
                <button type="submit" mat-raised-button color="primary" [disabled]="!formGroup.valid">Create</button>
            </div>
        </form>
    </div>
    <ng-template #loading>
        <div class="loading">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>
