/*.content {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    column-gap: 50px;*/
/*}*/

/*.content-left {*/
/*    width: 600px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    column-gap: 20px;*/
/*}*/

/*.dish-name {*/
/*    flex-basis: 100%;*/
/*}*/

/*.dish-type, .dish-cuisine, .dish-category, .dish-stock, .d {*/
/*    flex-basis: 48%;*/
/*}*/

/*.content-right {*/
/*    !*width: 100%;*!*/
/*}*/

@media screen and (max-width: 599px) {
    .dialog {
        width: 1000px;
    }
}

.dialog {
    max-width: 1000px;
    width: auto;
}

.dialog-content {
    width: 100%;
}

.dialog-actions {
    margin-bottom: 1px;
}

.content-left, .content-right {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

input.number-arrow-disable::-webkit-outer-spin-button,
input.number-arrow-disable::-webkit-inner-spin-button,
input.number-arrow-disable {
    -moz-appearance: textfield;
}

.price-right-align {
    text-align: right;
}


.dish-image {
    width: 100%;
    padding-bottom: 18.8125px;
}

.dish-image > button {
    width: 100%;
    height: 100%;
}
