<mat-toolbar class="header" color="primary">
    <button mat-icon-button class="menu-button" aria-label="Menu" (click)="openSideNav()" fxShow="false"
            fxShow.lt-sm="true">
        <mat-icon>menu</mat-icon>
    </button>
    <span id="home" routerLink="">Restaurant</span>

    <div class="routing" fxShow="true" fxShow.lt-sm="false" fxLayout="row" fxLayoutGap="10px">
        <button mat-flat-button routerLink="dishes">Dishes</button>

<!--        *ngIf="this.authService.checkUserRole('manager')-->
<!--        || this.authService.checkUserRole('admin')"-->
        <button mat-flat-button
                routerLink="dishes-management">
            Dishes management
        </button>
        <button mat-flat-button *ngIf="this.authService.checkUserRole('admin')" routerLink="users-management">
            Users management
        </button>
    </div>

    <span class="spacer"></span>

    <ng-container *ngIf="this.authService.checkUserRole('admin')">
        <app-persistance-status id="persistence"></app-persistance-status>
        <span class="divider">|</span>
    </ng-container>

    <ng-container *ngIf="this.authService.isLoggedIn()">
        <cart-status></cart-status>
        <span class="divider">|</span>
    </ng-container>

    <button *ngIf="!(this.authService.isLoggedIn())" routerLink="/login" mat-icon-button id="login-button">
        <mat-icon svgIcon="login-variant"></mat-icon>
    </button>


    <app-user-status *ngIf="this.authService.isLoggedIn()"></app-user-status>

    <button *ngIf="this.authService.isLoggedIn()" (click)="this.authService.signOut()" mat-icon-button
            id="logout-button">
        <mat-icon svgIcon="logout-variant"></mat-icon>
    </button>
</mat-toolbar>

