<div *ngIf="basketItems.length>0 && dishes;  else empty">
    <div class="cart-products" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="30px">

        <mat-card [matBadge]="item.count" class="cart-product" *ngFor="let item of basketItems" fxLayout="row"
                  fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutGap="10px">
                <div class="product-price">{{getDish(item.key).dish.price * item.count | currency:'USD'}} </div>
                <div class="product-name">{{getDish(item.key).dish.name | uppercase}}</div>
            </div>
            <div fxLayout="row">
                <button class="product-basket-remove mat-elevation-z2" mat-icon-button
                        aria-label="Remove from basket"
                        (click)="removeFromBasket(getDish(item.key))">
                    <mat-icon svgIcon="minus"></mat-icon>
                </button>
            </div>
        </mat-card>
    </div>
</div>
<ng-template #empty fxLayoutAlign="center center">
    <div id="empty-cart">It looks like your cart is empty :(</div>
</ng-template>
