.dishes {
    padding: 10px;
}

.dishes-list {
    width: 100%;
}

.dish-add {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

@media screen and (max-width: 959px){
    .dish-add {
        bottom: 15px;
        right: 15px;
    }
}


